<h1>Stupid Coaching</h1>
<div class="container">
  <p><%= @question %></p>
  <p>-You</p>
</div>
<div class="container coach">
  <p><strong><%= @the_answer %></strong></p>
  <p>-Your coach</p>
</div>
<%= link_to 'Ask another question', ask_path %>
